extends ./layouts/layout.pug

block content
	.container
		.row
			h1 Submit a number to #[span.text-success increase] it's count!
		.row
			.panel.panel-primary
				.panel-heading.text-center
					.panel-title Magic happens down here
				.panel-body.text-center
					form(action="/submitNumber" method="POST")
						.form-group
							h1.text-primary(for="numberInput") Enter the number
							input#numberInput.text-center.form-control(type="number" name="number")
						.form-group.text-center.center-block
							include ./includes/recaptcha.pug
						.form-group
							input.btn.btn-success.btn-lg.btn-block(type="submit")

block scripts
	script(type="text/javascript").
		var timeout = 5 * 1000
		setTimeout(function () {
			var recaptchas = $(".g-recaptcha")
			recaptchas.each(function (idx, elem) {
				var recaptcha = $(elem)
				if (_.isEmpty(recaptcha.children())) {
					$(elem).append("<h3 class='recaptchaEmpty'>Captcha not available! Sorry this form won't work!</h3>")
				}
			})
		}, timeout)
		

block styles
	style(type="text/css").
		.recaptchaEmpty {
			padding: 5px;
			border: 1px solid black;
			border-radius: 5px;
		}